// Backgrounds Mono
$bg6: #fff;
$bg1: #000;

// Backgrounds
$bg2: #800;
$bg3: #4c4c4c;
$bg4: #F94144;
$bg5: #08184f;


$gray1: #eeeeee;
$gray2: #838282;

// Backgrounds light
$bg2d: #F94144;
$bg3d: #a9a9a9;
$bg4d: #338309;
$bg5d: #102ea6;

// Backgrounds dark light
$bg2l: #a40303;
$bg3l: #a9a9a9;
$bg4l: #338309;
$bg5l: #102ea6;

// Text colors
$fg1: #fff;
$fg2: #800;
$fg3: #123ce5;
$fg4: #000;
$fg5: #605d5d;

//RGBA

$graya: rgba($gray2,0.5);