// Backgrounds Mono
$bg6: #fff;
$bg1: #000;

// Pallete
$color1: #E63946;
$color2: #F1FAEE;
$color3: #A8DADC;
$color4: #457B9D;
$color5: #1D3557;

// Colors for light theme
  // General background
$background: #F1FAEE;
  // Color text dark
$titleDark: #1D3557;
$subtitleDark: #457B9D;
$textDark: #1D3557;

$titleLight: #A8DADC;
$subtitleLight: #F1FAEE;
$textLight: #fff;

$textAlert: #E63946;

  // background text
$textBg: #353b42;
  // Color icons
$icons: #000;
$iconsSelected: #fff;
  // background text
$iconsBg: #000;

$containerGeneral: #fff;
// background very transparent
$containerColor1: #c3cff4;
$containerColor2: #0f01;
$containerColor3: #00f1;
// background transparent
$containerColor4: #c3cff;
$containerColor5: #fff4;
$containerColor6: #0ff4;
// Solid colors
$containerColor7: #f0fa;
$containerColor8: #fffa;
$containerColor9: #0ffa;
$containerColor10: #a94646;

// Colors for dark theme

// Backgrounds
$bg2: #800;
$bg3: #4c4c4c;
$bg4: #F94144;
$bg5: #08184f;


$gray1: #3b3b3b;
$gray2: #c2c1c1;

// Backgrounds light
$bg2d: #F94144;
$bg3d: #a9a9a9;
$bg4d: #338309;
$bg5d: #102ea6;

// Backgrounds dark light
$bg2l: #a40303;
$bg3l: #a9a9a9;
$bg4l: #338309;
$bg5l: #102ea6;

// Text colors
$fg1: #fff;
$fg2: #800;
$fg3: #123ce5;
$fg4: #000;
$fg5: #605d5d;

//RGBA

$graya: rgba($gray2,0.5);