$font1: Helvetica, Arial, sans-serif;
$font: Helvetica, Arial, sans-serif;
$font2: Consolas, "Times New Roman", "Arial Black";
$font3: Roboto, sans-serif;
$font4: Consolas, "Arial Black";
$font5: "Hack Nerd Font", Helvetica;