<!doctype html>
<html lang="en" class="html-tag-charts">
<head>
  <meta charset="UTF-8">
  <title>Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="./Stats.js"></script>
  <style>
    #box-charts__another-things {
      font-family: Helvi, Arial, sans-serif;
    }
    html, body, #box-charts__another-things, .apexcharts-canvas {
      height: 100%;
      margin: 0;
    }
  </style>
</head>
<body class="body-tag-charts">

<div id="box-charts__another-things"></div>

<script>

  let options = {
    series: [{
      data: [21, 22, 10, 28, 16, 21, 13, 30]
    }],
    chart: {
      height: 350,
      type: 'bar',
      events: {
        click: function(chart, w, e) {
          // console.log(chart, w, e)
        }
      }
    },
    // colors: "palette6",
    colors: ['#218380','#8f2d56','#ffbc42','#d81159','#6a4c93','#8ac926','#ff90b3', '#EF7A85'],
    plotOptions: {
      bar: {
        columnWidth: '50%',
        distributed: true,
      }
    },
    dataLabels: {
      enabled: false
    },
    legend: {
      show: false
    },
    xaxis: {
      categories: [
        ['Sistemas', 'Computacionales'],
        ['Electromecánica'],
        ['Telecomunicaciones'],
        ['Arquitectura'],
        ['Logística'],
        ['Alimentarias'],
        ['Gestión Empresarial'],
        ['Industrial'],
      ],
      labels: {
        style: {
          colors: ['#000'],
          fontSize: '16px'
        }
      }
    }
  };

  var chart = new ApexCharts(document.querySelector("#box-charts__another-things"), options);
  chart.render();
</script>

</body>
</html>