* {
  font-family: "Helvetica", Arial, sans-serif;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #F1FAEE;
  color: #1D3557;
  padding: 0;
  margin: 0;
  grid-template-rows: 45px auto 160px;
  row-gap: 0;
}

#box-modal {
  display: none;
}

#box-data {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: auto;
  row-gap: 1rem;
  margin-top: 20px;
}

#box-tables {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 95%;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 70% 30%;
  background-color: #A8DADC;
  padding: 20px 10px 40px 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #457B9D;
}

.box-tables__container {
  display: grid;
  grid-row-gap: 1rem;
}

#box-tables__container-users {
  grid-template-rows: 95% 5%;
}

#box-table__user-options {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

#box-data-user {
  display: grid;
  justify-self: center;
  grid-template-rows: 10% 10% auto;
  width: 95%;
}

#box-data-forms {
  display: grid;
  justify-self: center;
  width: 80%;
  grid-template-rows: 15% 10% auto 15%;
}

#selected-users, #selected-forms {
  display: none;
  margin-top: -100px;
  margin-bottom: 5px;
  background-color: rgba(168, 218, 220, 0.5);
  width: 95%;
  justify-self: center;
  height: 95px !important;
  box-shadow: 0 0 8px 2px #457B9D;
  border: 1px solid #1D3557;
  overflow-y: auto;
}

#selected-forms__options {
  display: grid;
  justify-self: center;
  align-self: center;
}

#box-data__table-forms {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 100%;
}

#selected-users__onclick, #selected-forms__onclick {
  position: absolute;
  left: -100%;
}

#selected-users__onclick:checked + #selected-users {
  display: grid;
}

#selected-forms__onclick:checked + #selected-forms {
  display: grid;
}

#box-message {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 80% 20%;
}

#box-message__head {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 100%;
  justify-self: stretch;
  align-self: stretch;
}

#box-message__body {
  resize: none;
  display: grid;
  justify-self: stretch;
  align-self: stretch;
}

.box-message__button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  background-color: #1D3557;
  color: #fff;
  cursor: pointer;
}

#box-message__button-send {
  margin-top: -20px;
  display: grid;
  justify-self: end;
}

#box-data__select-head, #box-data__select-head-forms {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#box-data__select-head {
  grid-template-columns: repeat(2, 1fr);
}

#box-data__select-head-forms {
  grid-template-columns: 1fr;
}

.box-message__button:hover {
  background-color: #457B9D;
  color: #fff;
}

.box-message__button:active {
  background-color: #F1FAEE;
  color: #1D3557;
}

#box-message__body {
  outline: none;
  box-shadow: 0 0 8px 2px #457B9D;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#box-options {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.filter {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #1D3557;
  color: #fff;
}

.box-data__table-selectors {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.box-data__table-selectors div {
  cursor: pointer;
  font-size: 15px;
}
.box-data__table-selectors div i {
  font-size: 25px;
}

.box-data__container, .box-data__table-body {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}

.box-data__table-body {
  border: 2px solid #1D3557;
}

.box-data__table-head {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #1D3557;
  color: #fff;
}

.table-body__user {
  height: 500px !important;
  width: auto;
  overflow-y: auto;
}

.table-body__forms {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
  height: 265px !important;
  width: auto;
  overflow-y: auto;
}

.head__users {
  grid-template-columns: 20% 10% 10% 20% 20% 10% 10%;
}

#table-box-user__body, #table-box-forms__body {
  border-collapse: collapse;
}
#table-box-user__body tr, #table-box-forms__body tr {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #F1FAEE;
  cursor: pointer;
}
#table-box-user__body tr:nth-child(even), #table-box-forms__body tr:nth-child(even) {
  background-color: rgba(69, 123, 157, 0.8);
  color: #F1FAEE;
}
#table-box-user__body tr:hover, #table-box-forms__body tr:hover {
  background-color: #1D3557;
  color: #fff;
}
#table-box-user__body tr:active, #table-box-forms__body tr:active {
  background-color: #00c5dc;
  color: #fff;
}

#table-box-user__body tr {
  grid-template-columns: 20% 10% 10% 20% 20% 10% 10%;
}

.box-data__table-searchbox {
  display: flex;
}

.table-searchbox__search {
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px 2px #457B9D;
  padding: 5px;
}

.table-searchbox__button {
  font-family: "typicons";
  border: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.table-searchbox__button i {
  font-size: 20px;
}

.cntActive {
  display: grid;
}

.selected-user__added, .selected-form__added {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #F1FAEE;
  color: #1D3557;
  align-self: center;
  height: 40px;
  border: 1px dotted #c2c1c1;
}

.selected-user__added {
  grid-template-columns: repeat(4, 1fr) 50px 20px;
}

.selected-form__added {
  grid-template-columns: auto 20px;
}

#box-message__alert {
  color: #E63946;
  visibility: hidden;
}

.btnRemove {
  cursor: pointer;
}

#file-chooser {
  display: none;
}

/*# sourceMappingURL=data.css.map */
