@font-face {
  font-family: Helvi;
  src: url("../Libs/fonts/Helvetica.ttf");
}
@font-face {
  font-family: arima;
  src: url("../Libs/fonts/Arima-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: bitter;
  src: url("../Libs/fonts/Bitter-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: typcn;
  src: url("../Libs/fonts/typicons.ttf");
}
* {
  font-family: Helvi, Arial, sans-serif;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #f3f6fd;
  color: #000;
  padding: 0;
  margin: 0;
  grid-template-rows: 45px auto 30%;
  row-gap: 0;
}

#box-modal {
  display: none;
}

#box-data {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 800px;
  row-gap: 1rem;
  margin-top: 20px;
}

#box-tables {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 95%;
  justify-items: stretch;
  grid-template-columns: 70% 30%;
  background-color: #fff;
  padding: 20px 10px 40px 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #c2c1c1;
}

.box-tables__container {
  display: grid;
  grid-row-gap: 1rem;
}

#box-table__user-options {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

#box-data-user {
  display: grid;
  justify-self: center;
  width: 95%;
}

#box-data-forms {
  display: grid;
  justify-self: center;
  width: 80%;
}

.box-message__button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
}

#box-data__select-head, #box-data__select-head-forms {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#box-data__select-head {
  grid-template-columns: repeat(3, 1fr);
}

#box-data__select-head-forms {
  grid-template-columns: repeat(2, 1fr);
}

.box-message__button:hover {
  background-color: #3b3b3b;
  color: #fff;
}

.box-message__button:active {
  background-color: #c2c1c1;
  color: #000;
}

#box-message__body {
  outline: none;
  box-shadow: 0 0 2px 1px #c2c1c1;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#box-options {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.box-data__container, .box-data__table-body {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}

.box-data__table-body {
  border: 2px solid #353b42;
}

.box-data__table-head {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #353b42;
  color: #fff;
}

.table-body__user {
  height: 500px !important;
  width: auto;
  overflow-y: auto;
}

.head__users {
  grid-template-columns: 20% 10% 10% 20% 20% 10% 10%;
}

#table-box-user__body, #table-box-forms__body {
  border-collapse: collapse;
}
#table-box-user__body tr, #table-box-forms__body tr {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #f3f6fd;
}
#table-box-user__body tr:nth-child(even), #table-box-forms__body tr:nth-child(even) {
  background-color: #c2c1c1;
}
#table-box-user__body tr:hover, #table-box-forms__body tr:hover {
  background-color: #000;
  color: #fff;
}

#table-box-user__body tr {
  grid-template-columns: 20% 10% 10% 20% 20% 10% 10%;
}

.box-data__table-searchbox {
  display: flex;
}

.table-searchbox__search {
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #c2c1c1;
  padding: 5px;
  margin-right: -10px;
}

.table-searchbox__button {
  font-family: typcn;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.table-searchbox__button i {
  font-size: 20px;
}

/*# sourceMappingURL=data.css.map */
