@font-face {
  font-family: Helvi;
  src: url("../Libs/fonts/Helvetica.ttf");
}
@font-face {
  font-family: arima;
  src: url("../Libs/fonts/Arima-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: bitter;
  src: url("../Libs/fonts/Bitter-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: typcn;
  src: url("../Libs/fonts/typicons.ttf");
}
* {
  font-family: Helvi, Arial, sans-serif;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #f3f6fd;
  color: #000;
  padding: 0;
  margin: 0;
  grid-template-rows: 45px auto 30%;
  row-gap: 0;
}

@keyframes opacityOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityOff {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#body-home {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  grid-template-rows: 10% auto;
  row-gap: 0;
}

#box-search {
  display: flex;
  margin: auto;
}

#search {
  display: grid;
  justify-self: end;
  height: 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  width: 300px;
  padding: 10px;
  margin-right: -10px;
  box-shadow: 0 0 2px 1px #c2c1c1;
}

#icon {
  display: grid;
  justify-self: start;
  font-size: 35px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 2px;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  height: 500px !important;
  row-gap: 2rem;
  column-gap: 1rem;
  background-color: #fff;
  padding: 50px;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0 0 2px 1px #c2c1c1;
}

.box-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  width: 250px;
  height: 80px;
  grid-template-columns: 90% auto;
  background-color: #c3cff4;
}

.box-form > .box-form__content-options {
  display: grid;
  align-items: center;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}
.box-form > .box-form__content-options .box-form__button {
  color: #000;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 1px 2px 2px;
  width: fit-content;
  transition: 0.5s;
}
.box-form > .box-form__content-options .box-form__button:hover {
  color: #fff;
  background-color: #000;
  transition: 0.5s;
}

.box-form > .box-form__content-options > .box-form__menu-options {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #353b42;
  border-radius: 5px;
  padding: 5px;
  margin-top: 100px;
  display: none;
}
.box-form > .box-form__content-options > .box-form__menu-options a {
  cursor: pointer;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.box-form__focus-btn {
  position: absolute;
  left: -100%;
}

.box-form__focus-btn:checked + .box-form__menu-options {
  display: grid;
  position: absolute;
  animation-name: opacityOn;
  animation-duration: 1s;
}

.box-form > .box-form__icon {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  font-size: 100px;
  color: #800;
}

.box-form > .box-form__data {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  grid-template-rows: 80% 20%;
}
.box-form > .box-form__data .box-form__edit-name {
  position: absolute;
  left: -100%;
}
.box-form > .box-form__data .box-form__edit-name:checked + .box-form__title {
  pointer-events: none;
  color: #999;
}

.box-form > .box-form__data > .box-form__title {
  height: 70%;
  width: 90%;
  outline: none;
  font-size: x-large;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: #000 solid 2px;
}

.box-form > .box-form__data .box-form__inputLabel {
  font-size: 28px;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 100%;
  box-shadow: 0 2px 5px 1px black;
  cursor: pointer;
  transition: 1s;
}

.box-form > .box-form__data > .box-form__inputLabel:hover {
  background-color: #fff;
  color: #000;
  transition: 1s;
}

.box-form > .box-form__data > .text_back_icon {
  display: none;
}

.box-form.new-form {
  background-color: #c3cff4;
  transition: 1s;
}

.box-form.new-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;
  border-radius: 100%;
  border: none;
  padding: 10px;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-items: center;
}
.box-form.new-form .typcn-plus {
  display: grid;
  text-align: center;
  align-content: center;
  color: #000;
  font-size: 30px;
}

.box-form.new-form:hover {
  background-color: #000;
  transition: 1s;
}
.box-form.new-form:hover .typcn-plus {
  color: #fff;
  transition: 1s;
}

@media (max-width: 1390px) {
  #main {
    grid-template-columns: repeat(3, 33%);
    width: 70%;
  }
}
@media (max-width: 1050px) {
  #main {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 700px) {
  #main {
    grid-template-columns: 100%;
    width: 50%;
  }
}

/*# sourceMappingURL=forms.css.map */
