@font-face {
  font-family: Helvi;
  src: url("../Libs/fonts/Helvetica.ttf");
}
@font-face {
  font-family: arima;
  src: url("../Libs/fonts/Arima-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: bitter;
  src: url("../Libs/fonts/Bitter-VariableFont_wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: typcn;
  src: url("../Libs/fonts/typicons.ttf");
}
* {
  font-family: Helvi, Arial, sans-serif;
}

html {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #f3f6fd;
  color: #000;
  padding: 0;
  margin: 0;
  grid-template-rows: 45px auto 160px;
  row-gap: 0;
}

#navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 45px;
  background-color: #000;
  grid-template-columns: repeat(2, 1fr);
}

#navbar_logo {
  display: grid;
  justify-self: start;
  align-self: center;
}

.navbar_logo {
  font-family: bitter, "Arial Black";
  font-weight: bold;
  color: #fff;
  margin: 0 0 0 5px;
  letter-spacing: 4px;
  font-size: x-large;
}

#navbar_toggle {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  gap: 20px;
}

#menus > .nav_item {
  color: #000;
  cursor: pointer;
  padding: 4px;
}

#menus > .nav_item > .nav_link {
  text-decoration: none;
  color: #fff;
  font-size: larger;
  padding: 2px;
}

#menus .active {
  background-color: #f3f6fd;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#menus .active .nav_link {
  color: #000;
}

@media (max-width: 850px) {
  .menu.menu_collapsed {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    position: fixed;
    background-color: #000;
    right: -10px;
    border-radius: 10px;
    padding: 20px;
    top: 45px;
    right: -100%;
  }
  .menu.menu_collapsed.menu_active {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    position: fixed;
    background-color: #000;
    right: -10px;
    border-radius: 10px;
    padding: 20px;
    top: 45px;
  }
  #navbar_toggle {
    color: #fff;
    display: grid;
    font-size: xx-large;
    margin-right: 15px;
  }
  #content {
    color: #000;
  }
}
@media (max-width: 400px) {
  .navbar_logo {
    font-size: large;
  }
}
.box-user__icon {
  font-size: 30px;
  font-family: typcn;
  cursor: pointer;
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
}

#activeOptions {
  position: absolute;
  right: -100%;
}

#activeOptions:checked + .box-user__options {
  display: grid;
}

.box-user__options {
  position: fixed;
  margin-top: 10px;
  background-color: #000;
  color: #00c5dc;
  margin-left: -90px;
  display: none;
  padding: 2px 10px;
}
.box-user__options a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
}

/*# sourceMappingURL=header.css.map */
