@import "./base/defaults";

#content-data {
  @include layoutGrid;
  grid-template-rows: 10% 90%;
  row-gap: 50px;
}

#filters {
  @include layoutGrid;
  grid-template-columns: repeat(5, 1fr);
}

#box-tables {
  @include layoutGrid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 90%;
  align-items: start;
  column-gap: 30px;

  #user-table-box-black, #forms-table-box-black {
    display: grid;
    align-content: center;
    justify-items: center;
    color: $bg6;
    background-color: $bg2;
  }

  #user-table-box-black{
    width: 1250px;
    height: 40px;
    grid-template-columns: 15% repeat(2, 10%) repeat(2, 20%) 15% 10%;
  }

  #forms-table-box-black{
    width: 250px;
    height: 40px;
  }

  #box-tables__table-box-user {
    height: 580px !important;
    overflow: auto;
    width: 1250px;

    #table-box-user {
      width: 100%;

      #table-box-user__head, #table-box-user__data {
        display: grid;
        grid-template-columns: 15% repeat(2, 10%) repeat(2, 20%)  15% 10%;
      }

      #table-box-user__head {
        width: 1250px;
        background-color: $bg2;
        margin-top: -5px;

        #table-box-user__data {
          width: 1230px !important;
          justify-items: center;
          align-items: start;
          color: $bg6;
          padding: 10px;
        }
      }

      #table-box-user__body {
        display: grid;
        tr {
          display: grid;
          grid-template-columns: 15% repeat(2, 10%) repeat(2, 20%)  15% 10%;
          align-items: center;
          justify-items: center;
          padding: {
            top: 10px;
            bottom: 10px;
          }
          cursor: pointer;
        }
      }


    }
  }
}

#box-tables__table-box-forms {
  width: 250px !important;
  height: 580px !important;
  overflow: auto;
  #table-box-forms {
    width: 100%;
    #table-box-forms__body {
      tr{
        display: grid;
        padding: {
          top: 10px;
          bottom: 10px;
        }
        justify-content: center;
        align-content: center;
        cursor: pointer;
      }
    }
  }
}



#table-box-user__body, #table-box-forms__body {
  tr:nth-child(even) {
    background-color: $gray1;
  }

  tr:hover {
    background-color: $bg2d;
    color: $fg1;
  }
}

#forms_ids {
  display: none;
}

#box-message__forms-selected {
  display: flex;
  width: 100% !important;
  height: 45px;
  overflow-x: scroll;
  margin: auto;
  justify-content: center;
  p{
    display: inline;
    padding: {
      left: 5px;
      right: 5px;
    };
    background-color: $bg2;
    color: $fg1;
    font-size: larger;
    flex: 0 0 fit-content;
    width: 100%;
    height: fit-content;
    object-fit: cover;
    text-align: center;
    align-content: center;
    margin: 2px;
    margin-left: 10px;
    .typcn {
      margin-left: 10px;
      font-size: larger;
      cursor: pointer;
    }
  }
}

#box-modal{
  display: none;
}

#box-message__body {
  outline: none;
  border: $bg2 solid 1px;
  box-shadow: 0 0 2px 1px;
}

#box-message__forms-selected {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
  border-top: $bg2d solid 5px;
}