@import "./base/defaults";

#box-modal {
  display: none;
}


#box-data {
  @include layoutGrid;
  height: auto;
  row-gap: 1rem;
  margin-top: 20px;
}

#box-tables {
  @include layoutGrid;
  width: 95%;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 70% 30%;
  background-color: $iconsSelected;
  padding: 20px 10px 40px 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px $gray2;
}

.box-tables__container {
  display: grid;
  grid-row-gap: 1rem;
}

#box-tables__container-users {
  grid-template-rows: 95% 5%;
}

#box-table__user-options {
  @include layoutGrid;
  grid-template-columns: repeat(2,1fr);
}

#box-data-user {
  display: grid;
  justify-self: center;
  grid-template-rows: 10% 10% auto;
  width: 95%;
}

#box-data-forms {
  display: grid;
  justify-self: center;
  width: 80%;
  grid-template-rows: 15% 10% auto 15%;
}

#selected-users, #selected-forms{
  display: none;
  margin: {
    top: -100px;
    bottom: 5px;
  }
  background-color: rgba(0,0,0,0.5);
  width: 95%;
  justify-self: center;
  height: 95px !important;
  box-shadow: 0 0 2px 2px $gray2;
  border: 1px solid $iconsBg;
  overflow-y: auto;
}

#selected-forms__options {
  display: grid;
  justify-self: center;
  //width: 50%;
  align-self: center;
}


#box-data__table-forms {
  @include layoutGrid;
  grid-template-rows: 100%;
}

#selected-users__onclick, #selected-forms__onclick{
  position: absolute;
  left: -100%;
}

#selected-users__onclick:checked + #selected-users {
  display: grid;
}

#selected-forms__onclick:checked + #selected-forms {
  display: grid;
}

#box-message {
  @include layoutGrid;
  grid-template-rows: 80% 20%;
}

#box-message__head {
  @include layoutGrid;
  grid-template-rows: 100%;
  justify-self: stretch;
  align-self: stretch;
}

#box-message__body {
  resize: none;
  display: grid;
  justify-self: stretch;
  align-self: stretch;
}

.box-message__button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  background-color: $iconsBg;
  color: $textSelected;
  cursor: pointer;
}

#box-message__button-send {
  margin: {
    top: -20px
  }
  display: grid;
  justify-self: end;
}

#box-data__select-head, #box-data__select-head-forms{
  @include layoutGrid;
}

#box-data__select-head {
  grid-template-columns: repeat(2,1fr);
}

#box-data__select-head-forms {
  grid-template-columns: 1fr;
}

.box-message__button:hover {
  background-color: $gray1;
  color: $textSelected;
}

.box-message__button:active {
  background-color: $gray2;
  color: $text;
}

#box-message__body {
  outline: none;
  box-shadow: 0 0 2px 1px $gray2;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#box-options {
  @include layoutGrid;
  grid-template-columns: repeat(3, 1fr);
}

.filter {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  //box-shadow: 0 0 2px 1px $gray1;
  background-color: $iconsBg;
  color: $textSelected;
}


.box-data__table-selectors {
  @include layoutGrid;
  grid-template-columns: repeat(2,1fr);
  div {
    cursor: pointer;
    i {
      font-size: 25px;
    }
    font-size: 15px;
  }
}

////// General Styles for the tables ///////////////////

.box-data__container, .box-data__table-body{
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}

.box-data__table-body {
  border: 2px solid $textBg;
}

.box-data__table-head {
  @include layoutGrid;
  background-color: $textBg;
  color: $textSelected;
}

.table-body__user {
  height: 500px !important;
  width: auto;
  overflow-y: auto;
}
.table-body__forms {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
  height: 265px !important;
  width: auto;
  overflow-y: auto;
}

.head__users {
  grid-template-columns: 20% 10% 10% 20% 20% 10% 10%;
}


#table-box-user__body, #table-box-forms__body{

  border-collapse: collapse;
  tr {
    @include layoutGrid;
    background-color: $background;
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: $gray2;
  }

  tr:hover{
    background-color: $iconsBg;
    color: $textSelected;
  }
  tr:active {
    background-color: #00c5dc;
    color: $textSelected;
  }
}

#table-box-user__body {
 tr {
   grid-template-columns: 20% 10% 10% 20% 20% 10% 10%;
 }
}


////// General Styles for selectors ///////////////////


.box-data__table-searchbox {
  display: flex;

}

.table-searchbox__search {
  outline: none;
  border:none;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px $gray2;
  padding: 5px;
  //margin-bottom: 5px;
}

.table-searchbox__button {
  font-family: $fonti;
  border: none;
  background-color: $iconsBg;
  color: $iconsSelected;
  padding: 5px;
  border-radius: 5px;
  i {
    font-size: 20px;
  }
}


.cntActive{
  display: grid;
}

.selected-user__added, .selected-form__added {
  @include layoutGrid;
  background-color: $background;
  color: $text;
  //justify-self: center;
  align-self: center;
  height: 40px;
  border: 1px dotted $gray2;
}

.selected-user__added {
  grid-template-columns: repeat(4, 1fr) 50px 20px;
}

.selected-form__added {
  grid-template-columns: auto 20px;
}

#box-message__alert {
  color: $textRed;
  visibility: hidden;
}

.btnRemove {
  cursor: pointer;
}

#file-chooser {
  display: none;
}

//.selected-form__added {}