@import "./base/defaults";
//@import "./utils/backgroundAnimated";

body {
  grid-template-rows: 20px auto;
}

#box-builder {
  @include layoutGrid;
  grid-template-rows: 60px auto 60px;
  //margin-top: 50px;
}

.quest-container {
  @include layoutGrid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.quest {
  @include layoutGrid;
  padding: 20px;
  margin: 33px 0;
  grid-template-columns: 2fr 1fr;
  background-color: $color3;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  grid-row-gap: 10px;
}

.quest__remove, .quest__new-opt, .quest__add {
  padding: 5px;
  border: none;
  border-radius: $borderRadius;
  background-color: $color5;
  color: $color2;
  font-size: 18px;
  cursor: pointer;
}


.quest__add {
  padding: 10px
}

.quest__opt-set {
  @include layoutGrid;
  grid-template-columns: auto 20px;
  grid-row-gap: 5px;
}

$radiusTitle: 5px;

.quest__title {
  display: grid;
  outline: none;
  border: none;
  background-color: $color2;
  padding: 5px 20px;
  justify-self: stretch;
  margin: 0 10px;
  border-bottom: 2px solid $color5;
  border: {
    top-left-radius: $radiusTitle;
    top-right-radius: $radiusTitle;
  }
}

.quest__type {
  background-color: $color5;
  border-radius: $radiusTitle;
  color: white;
  outline: none;
  border: none;
  padding: 5px;
}

.quest__opt-set__opt-input {
  background-color: $color2;
  border: none;
  border-radius: $borderRadius;
  padding: 5px;
  font-size: 15px;
}

.quest__opt-set__opt-remove {
  background-color: $color5;
  border: none;
  color: $color2;
  padding: 0;
  font-size: 25px;
  font-family: $fonti;
  border-radius: $borderRadius;
}

.go-to-preview {
  color: $color2;
  text-decoration: none;
  background-color: $color5;
  padding: 10px;
  border-radius: $borderRadius;
  cursor: pointer;
}