@import "./base/defaults";

#navbar {
  position: fixed;
  @include layoutGrid;
  //border-bottom: solid $bg2 4px;
  @include fixPosition;
  background-color: $textDark;
  grid-template-columns: repeat(2, 1fr);
}

#navbar_logo {
  display: grid;
  justify-self: start;
  align-self: center;
}

.navbar_logo {
  font-family: $font4;
  font-weight: bold;
  color: $textLight;
  margin: 0 0 0 5px;
  letter-spacing: 4px;
  font-size: x-large;
}

#navbar_toggle {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  gap: 20px;
}

#menus > .nav_item {
  color: $titleDark;
  cursor: pointer;
  padding: 4px;
}

#menus > .nav_item > .nav_link {
  text-decoration: none;
  color: $textLight;
  //margin-left: 5px;
  font-size: larger;
  padding: 2px;
}

#menus {
  .active {
    background-color: $background;
    border-radius: $borderRadius;
    border-bottom: {
      left-radius: 5px;
      right-radius: 5px;
    }

    .nav_link {
      color: $textDark;
    }
  }
}

@mixin menus {
  @include layoutGrid;
  position: fixed;
  background-color: $color5;
  right: -10px;
  border-radius: $borderRadius;
  padding: 20px;
  top: $navHeight;
}

@media (max-width: 850px) {

  .menu.menu_collapsed {
    @include menus;
    right: -100%;
  }

  .menu.menu_collapsed.menu_active {
    @include menus;
  }

  #navbar_toggle {
    color: $color2;
    display: grid;
    font-size: xx-large;
    margin-right: 15px;
  }
  #content {
    color: $color5;
  }

}

@media (max-width: 400px) {
  .navbar_logo {
    font-size: large;
  }
}

.box-user__icon {
  font-size: 30px;
  font-family: $fonti;
  cursor: pointer;
  background-color: white;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
}

#activeOptions {
  position: absolute;
  right: -100%;
}

#activeOptions:checked + .box-user__options {
  display: grid;
}

.box-user__options {
  position: fixed;
  margin-top: 10px;
  background-color: $color5;
  color: #00c5dc;
  margin-left: -90px;
  display: none;
  padding: 2px 10px;
  border-radius: $borderRadius;

  a {
    text-decoration: none;
    color: $textLight;
    padding: 10px 0;
  }
}





