@import "./base/defaults";

#box-stats {
  @include layoutGrid;
  height: auto;
  row-gap: 1rem;
}

#box-charts {
  @include layoutGrid;
  width: 98%;
  justify-items: stretch;
  align-items: center;
  grid-template-rows: repeat(2,370px);
  grid-row-gap: 20px;
  border: none;
  background-color: $color3;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
}

.charts {
  @include layoutGrid;
  justify-items: stretch;
  align-items: stretch;
  height: 95%;
}

.doc-charts {
  border: none;
}